NODE_ENV=
PORT_HTTP=
PORT_HTTPS=
PROD_URL=
TEST_URL=
EMAIL_DASHBOARD=
PASSWORD_DASHBOARD=
SERVER_URL=
#NODE_SYSCOIN_HOST_RPC=
NODE_SYSCOIN_PORT_RPC=
NODE_SYSCOIN_USERNAME_RPC=
NODE_SYSCOIN_PASSWORD_RPC=
NODE_SYSCOIN_LOG_LEVEL_RPC=
FIREBASE_KEY=
FIREBASE_DOMAIN=
FIREBASE_DATABASE=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_SENDER_ID=
KEY_FOR_ENCRYPTION=
COLLECTION_INFO_UID=
COLLECTION_NAME_INFO=
COLLECTION_NAME_PROPOSAL=
COLLECTION_PROPOSAL_HIDDEN=
COLLECTION_NAME_MASTERNODES=
COLLECTION_NAME_USERS=
