<form [formGroup]="addForm">
  <div class="form-group">
    <h3>Paste the hash of the proposal you want to hide</h3>
    <input type="text" class="form-control" formControlName="hash" required>
    <span class="form-text text-danger" *ngIf="hashInput.touched && hashInput.hasError('required')">the hash of the proposal is required</span>
    <span class="form-text text-danger" *ngIf="hashInput.hasError('minlength')">Proposal Invalid</span>
  </div>
  <button class="btn btn-primary btn-block"
          type="button" (click)="onSubmit()"
          [disabled]="!addForm.valid || !addForm.dirty">Add

  </button>
</form>
<div class="mt-2">
  <h4>Information:</h4>
  <p class="text-justify">
    At the moment this mini board has the functionality to add hash of proposals that you do not want to see in the syshub application, any other functionality will be added as needed
  </p>
</div>

