<div class="admin-login">
  <div class="card shadow">
    <div class="card-body text-center">
      <app-logo [size]="5" [inverted]="true"></app-logo>
      <hr>
      <span class="form-text text-danger" *ngIf="showLoginError">
                You have entered invalid data<br>Please check and try again
            </span>
      <form [formGroup]="loginForm" class="text-left" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" formControlName="email" required placeholder="Email">
          <span class="form-text text-danger" *ngIf="userInput.touched && userInput.hasError('required')">
                        You must enter your email
                    </span>
        </div>
        <div class="form-group">
          <label>Contraseña</label>
          <input type="password" class="form-control" formControlName="password" required placeholder="Password">
        </div>
        <span class="form-text text-danger" *ngIf="passInput.touched && passInput.hasError('required')">
                    You must enter your password
                </span>
        <button type="submit" class="d-block btn btn-success w-100">
          Log in
        </button>
      </form>
    </div>
  </div>
</div>

